


html, body, my-main {
    height: 100%;
}
body {
    margin: 0;
}






html, body {
    height: 100%;
    margin: 0;
    background-color: #fbfbfb;
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 200;
    font-size: medium;
    padding: 0;
}

.centered {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.sidesBorder{
    padding: 0px 10px 0px 25px;
}